<div class="form-container container col-11 col-md-6">
  <form class="form form_default-theme" autocomplete="off">
    <div class="form_icon form_icon_default-theme" aria-hidden="true"></div>
    <div class="form_input-container">
      <input
        id="user"
        class="form_input form_input_default-theme col-11"
        aria-label="User"
        type="text"
        placeholder=""
      />
      <label for="user" class="form_label form_label_default-theme">Username</label>
    </div>
    <div class="form_input-container">
      <input
        id="password"
        class="form_input form_input_default-theme col-11"
        aria-label="Password"
        type="password"
        placeholder=""
      />
      <label for="password" class="form_label form_label_default-theme"
        >Password</label
      >
    </div>
    <div class="form_spacer form_spacer_default-theme" aria-hidden="true"></div>
    <button class="form_button form_button_default-theme">Log in</button>
  </form>
</div>
