<!-- @@@@@@@@@@@@@@@ -->
<!--       CHAT      -->
<!-- @@@@@@@@@@@@@@@ -->

<!-- ------------------------------------------------------------------------------------------------------------------ -->

<div class="chat-item default">
  <ng-container *ngIf="!chatService.helloContainerActive && chat">
    <ng-container>
      <div class="blockname-container">
        <p class="blockname" [class.groupTypeChat] = "chat.chatInfo.chatType == 1">{{ chat.chatInfo.chatName }}</p>
        <p
          class="close-chat"
          (click)="chatService.closeChat(chat)"
        >
          X
        </p>
      </div>
    </ng-container>

    <div
      class="chat-ok"
      *ngIf="chat.chatInfo.chatGuid != chatService.emptyGuid"
    >
      <div class="messages" #messagesContainer>
        <ng-container *ngFor="let message of chat.messages">
          <div class="date" *ngIf="message.otherDate">
            <div class="date-line-left"></div>
            <div class="date-output">{{ message.date }}</div>
            <div class="date-line-right"></div>
          </div>
          <div
            [ngClass]="{
              left: message.senderGuid !== accountService.account.userGuid,
              right: message.senderGuid === accountService.account.userGuid
            }"
          >
            <span class="time">{{ message.time }}</span
            ><br />
            <p
              class="{{
                message.senderGuid === accountService.account.userGuid
                  ? 'right'
                  : 'left'
              }}"
            >
              {{ message.content }}
            </p>
          </div>
          <div class="next"></div>
        </ng-container>
      </div>

      <!-- chatType 1 = group chat-->
      <div class="writearea" *ngIf="chat.chatInfo.members[0].friendshipStatus != 2 || chat.chatInfo.chatType == 1">
        <input
          type="text"
          placeholder="Aa"
          [(ngModel)]="chat.currentMessage"
          (keydown.enter)="sendMessageClick(chat)"
        />
        <button class="sendBtn" (click)="sendMessageClick(chat)">O></button>
      </div>
    </div>

    <div class="messages-start-screen">
      <div
        class="start-chat-container"
        *ngIf="chat.chatInfo.chatGuid == chatService.emptyGuid"
      >
        <p
          class="start-chat"
          type="button"
          (click)="startChatClick(chat.chatInfo)"
        >
          <b>Rozpocznij</b>
        </p>
      </div>
    </div>
  </ng-container>
</div>
