@import url("../../buttons.css");

/* CONTENT */

.chat-item {
  position: relative;
  display: block;
  float: left;
  margin: auto;
  max-width: 98%;
  min-width: 98%;
  height: 98%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.1);
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
  display: flex;
  flex-direction: column;
}

.blockname-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.blockname {
  flex: 1;
  height: 30px;
  margin: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.close-chat {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: white;
}

.close-chat:hover {
  scale: 1.15;
  color: #ffcc00;
}

.chat-ok {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.writearea {
  bottom: 0;
  display: flex;
  height: 35px;
  align-items: center;
  gap: 10px;
}

.writearea input {
  flex: 1;
  text-align: left;
  padding: 3px 4px 5px 4px;
  border-radius: 4px;
}

.writearea input:focus {
  outline: none;
  border-width: 2px;
}

.writearea button {
  margin: 0 1% 0 0;
  padding: 1px 0 5px 0;
  min-width: 12%;
  min-height: fit-content;
  font-size: 17px;
  font-weight: bold;
  width: fit-content;
}

.messages {
  flex: 1;
  padding-top: 1%;
  font-size: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #45c996 transparent;
}

.messages::-webkit-scrollbar {
  width: 5px;
}

.messages::-webkit-scrollbar-track {
  background: transparent;
}

.messages::-webkit-scrollbar-thumb {
  background-color: #45c996;
  border-radius: 10px;
  border: 2px solid transparent;
}

.messages .time {
  font-size: 10px;
}

.messages .date {
  min-width: 100%;
  width: 100%;
  height: 20px;
  display: flex;
  text-align: center;
}

.messages .date .date-line-left {
  flex: 1;
  display: block;
  width: 40%;
  height: 2px;
  background: transparent;
  border-top: 2px dashed white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.messages .date .date-output {
  flex: 1;
  display: block;
  width: 30%;
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  background: transparent;
  border-radius: 15px;
  border: 1px solid gray;
}

.messages .date .date-line-right {
  flex: 1;
  display: block;
  width: 40%;
  height: 1px;
  background: transparent;
  border-top: 2px dashed white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.messages-start-screen {
  overflow-y: auto;
  overflow-x: hidden;
}

.messages-start-screen .start-chat {
  position: absolute;
  display: flex;
  border-radius: 50%;
  font-size: 1.5rem;
  min-width: 10%;
  width: 50%;
  max-width: 60%;
  max-height: 60%;
  min-height: 10%;
  aspect-ratio: 1/1;
  text-align: center;
  align-items: center;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.messages-start-screen .start-chat b {
  position: relative;
  display: block;
  padding: 2%;
}

.messages div {
  width: max-content;
  max-width: 70%;
  height: max-content;
}

.messages div.left {
  float: left;
}

.messages div.right {
  float: right;
}

.messages .next {
  clear: both;
}

.messages p {
  display: block;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  width: fit-content;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: left;
}

/* THEMES */

.default .blockname {
  font-weight: bold;
  background: linear-gradient( to top, #8c7b7b, #000 20%, #6a6a6a);
  color: white;
}

.default .divider {
  height: 1px;
  background-color: rgb(43, 43, 43);
}

.default .messages {
  color: white;
}

.default .messages-start-screen .start-chat {
  background: linear-gradient(to bottom, #87def9, #7a9dd3 40%, #596a85);
  background: radial-gradient(circle, rgb(172, 223, 238), #76c7ea 40%, #596a85);
  background-color: #00ccff;
  color: white;
}

.default .messages-start-screen .start-chat:hover {
  background: linear-gradient(to top, #efda87, #c59d00 20%, #ffcc00);
}

.default .messages p.left {
  color: white;
  background: linear-gradient(135deg, #17a2b8, #74d4db);
}

.default .messages p.right {
  color: white;
  background: linear-gradient( to top, #005e3f, #007131 20%, #748e2c);
}

.default .writearea input {
  background-color: rgb(164, 254, 172);
  background: linear-gradient( to top, #3b8864, #2a6a40 30%, #1f4a42);
  color: white;
  border: none;
}

.default .writearea input:focus {
  border-color: #95e6d1;
  background: linear-gradient(to top, #2e6b44, rgb(3, 161, 135) 20%, #45c996);
  background: radial-gradient(circle, #32a076, #2e6b44);
}

 .default .writearea button:hover {
  background: linear-gradient(to top, #efda87, #c59d00 20%, #ffcc00);
}

.default .writearea button {
  margin: 0 1% 0 0;
  padding: 5px 15px;
  min-width: 12%;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: linear-gradient(45deg, #45c996, #2e6b44);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.writearea button:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Hello screen */
.default .hello-container {
  background-color: #333;
}

.default .hello {
  color: #fff;
}

.default .hello .say {
  background-color: #ffcc00;
}

.default .hello .yo {
  background-color: #00ccff;
}

/* Hello screen */
.hello-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94%;
}

.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.hello .say {
  padding: 5px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  animation: bounce 2s infinite alternate ease-in-out;
  color: #d2ffc9;
}

.hello .yo {
  padding: 5px 20px;
  border-radius: 10px;
  animation: bounce 2s infinite alternate ease-in-out;
  color: #ffd1d1;
}

.author {
  position: absolute;
  display: block;
  bottom: 0;
  color: #757575;
  font-weight: bold;
  font-size: 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}
