
<div class="form-container container col-11 col-md-6">
  <form
  class="form form_default-theme"
  [formGroup]="registerForm"
  (ngSubmit)="onRegister()"
  autocomplete="off"
  >

    <div class="form_icon-section col-11 col-md-10">
      <div class="form_icon form_icon_default-theme" aria-hidden="true"></div>
      <label for="form" class="form-type_label">Rejestracja</label>
    </div>

    <div class="form_input-container">
      <input
        id="username"
        type="text"
        formControlName="username"
        class="form_input form_input_default-theme col-11"
        aria-label="Username"
        placeholder=""
      />
      <label for="username" class="form_label form_label_default-theme"
        >Nazwa użytkownika</label
      >
    </div>

    <div class="form_input-container">
      <input
        id="email"
        type="email"
        formControlName="email"
        class="form_input form_input_default-theme col-11"
        aria-label="Email"
        placeholder=""
      />
      <label for="email" class="form_label form_label_default-theme"
        >Email</label
      >
    </div>

    <div class="form_input-container">
      <input
        id="password"
        type="password"
        formControlName="password"
        class="form_input form_input_default-theme col-11"
        aria-label="Password"
        placeholder=""
      />
      <label for="password" class="form_label form_label_default-theme"
        >Hasło</label
      >
    </div>

    <div class="form_input-container">
      <input
        id="confirmPassword"
        type="password"
        formControlName="confirmPassword"
        class="form_input form_input_default-theme col-11"
        aria-label="Confirm password"
        placeholder=""
      />
      <label for="confirmPassword" class="form_label form_label_default-theme"
        >Potwierdź hasło</label
      >
    </div>

    <div class="form_spacer form_spacer_default-theme" aria-hidden="true"></div>
    <button type="submit" class="form_button form_button_default-theme">Zarejestruj</button>
  </form>
</div>
