.bento-container {
  padding-top: 100px;
  width: 100%;
  height: 100%;
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(100px,1fr)); */
}

.bento-management {
  height: 100%;
  border-right: 2px solid rgb(66, 66, 66);
  display: grid;
  font-size: 2.8rem;
  color: white;
  width: 10%;
  min-width: 70px;
}

.bento-community {
  height: 100%;
  border-right: 2px solid rgb(66, 66, 66);
  display: grid;
  width: 20%;
  min-width: 200px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 100%));
  grid-auto-rows: minmax(200px, auto);
  justify-content: start;

}

.bento-chat {
  height: 100%;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%,3fr));
  grid-template-rows: repeat(auto-fit, minmax(50%, 3fr));
  justify-content: start;
}

.chat-container {
  margin: auto;
  max-width: 98%;
  min-width: 98%;
  height: 98%;
  padding: 0;
}

/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Hello screen */
.default .hello-container {
  background-color: #333;
}

.default .hello {
  color: #fff;
}

.default .hello .say {
  background-color: #ffcc00;
}

.default .hello .yo {
  background-color: #00ccff;
}

/* Hello screen */
.hello-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 94%;
}

.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  text-transform: uppercase;
}

.hello .say {
  padding: 5px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  animation: bounce 2s infinite alternate ease-in-out;
  color: #d2ffc9;
}

.hello .yo {
  padding: 5px 20px;
  border-radius: 10px;
  animation: bounce 2s infinite alternate ease-in-out;
  color: #ffd1d1;
}

.author {
  position: absolute;
  display: block;
  bottom: 0;
  color: #757575;
  font-weight: bold;
  font-size: 10px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}
