<div class="bento-container">
  <app-left-menu class="bento-management"></app-left-menu>
  <app-community class="bento-community"></app-community>

  <!-- <app-chat class="bento-chat"></app-chat> -->

  <div class="bento-chat">
    <div
      class="chat-container"
      *ngFor="let chat of chatService.activeChats; let i = index"
      [attr.data-index]="i"
    >
      <app-chat [chat]="chat"></app-chat>
    </div>

    <!-- ------------------------------------------------------------------------------------------------------------------ -->

    <div class="hello-container" *ngIf="chatService.helloContainerActive">
      <div class="hello">
        <div class="say">Say</div>
        <div class="yo">Yo</div>
      </div>
      <p class="author">Copyright © 2024 Damian Filipiak</p>
    </div>

    <!-- ------------------------------------------------------------------------------------------------------------------ -->
  </div>
  <app-context-menu></app-context-menu>
</div>
