body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  overflow: hidden;
}

.login-window{
  margin: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.background {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.bg_dot {
  border-radius: 50%;
  opacity: 0.5;
  position: absolute;
}

.bg_dot:nth-child(1) {
  animation: move1 45s linear infinite both;
  bottom: 60%;
  height: 40vh;
  width: 40vh;
}

.bg_dot:nth-child(2) {
  animation: move2 60s linear infinite both;
  top: 35%;
  height: 30vh;
  width: 30vh;
}

@keyframes move1 {
  0% {
    transform: translate(-50vw, 0);
  }
  100% {
    transform: translate(80vw, 60vw);
  }
}

@keyframes move2 {
  0% {
    transform: translate(100vw, 0);
  }
  100% {
    transform: translate(-50vw, -30vw);
  }
}

/* --------------------------- */
/*           THEMES            */
/* --------------------------- */

.login-window_default-theme{
  background: linear-gradient(
    to top right,
    #19191a,
    #7c8483
  );
}

.bg_dot_default-theme {
  background: linear-gradient(
    to left,
    #d5e9e7,
    rgba(255, 255, 255, 0.2)
  );
}
