<div class="items-container">
  <div class="community-type">

    <input
      type="checkbox"
      id="searchCheckBox"
      [(ngModel)]="searchOpen"
      (click)="toggleSearch()"
    />
    <label for="searchCheckBox">
    <div id="search" class="btn-icon">
      <i class="bx bx-search"></i>
    </div>
    </label>

    <span>GRUPY</span>

    <div id="add" class="btn-icon" (click)="openCreateGroupModal()">
      <i class="bx bxs-plus-circle"></i>
    </div>
  </div>

  <ng-container *ngIf="searchOpen">
    <div class="divider"></div>
    <input type="text" class="searchPattern" [(ngModel)]="searchPattern"/>
  </ng-container>

  <div class="divider"></div>

  <div class="item" *ngFor="let x of groupChats">
    <div class="content">
      <div class="photo-container">
        <div class="photo"></div>
      </div>

      <div class="name">
        <span>
          {{ x.chatName }}
        </span>
      </div>

      <div class="options" (click)="showContextMenu($event, x)">
        <div class="option-dot"></div>
        <div class="option-dot"></div>
        <div class="option-dot"></div>
      </div>
    </div>
  </div>
</div>

<!-- @@@@@@@@@@@@@@@@@@ -->
<!-- MODAL              -->
<!-- @@@@@@@@@@@@@@@@@@ -->

<ng-template #createGroupModalTemplate>
  <p class="create-group-title">Tworzenie grupy</p>

  <!-- Group name ipnut-->
  <div class="create-group-name-input">
    <input
      class="create-group-input"
      placeholder="Nazwa grupy"
      [(ngModel)]="groupName"
    />
  </div>

  <!-- Filter friends input-->
  <div class="create-group-search">
    <input
      class="create-group-input"
      placeholder="Filtruj znajomych"
      [(ngModel)]="filterText"
      (ngModelChange)="filterFriends()"
    />
  </div>

  <!-- List of filtered friends with checbox -->
  <ul class="create-group-list">
    <li *ngFor="let friend of filteredFriendList" class="create-group-item">
      <span class="create-group-name">{{ friend.userName }}</span>
      <input
        type="checkbox"
        class="create-group-checkbox"
        [(ngModel)]="selectedFriends[friend.userGuid]"
      />
    </li>
  </ul>

  <!-- Button -->
  <button class="create-group-button" (click)="createGroup()" [disabled]="!groupName || !Object.keys(selectedFriends).length">
    Utwórz grupę
  </button>
</ng-template>
