<div class="items-container">
  <div class="community-type">
    <input
      type="checkbox"
      id="searchCheckBox"
      [(ngModel)]="searchOpen"
      (click)="toggleSearch()"
    />
    <label for="searchCheckBox">
      <div id="search" class="btn-icon">
        <i class="bx bx-search"></i>
      </div>
    </label>

    <span>GRUPY</span>

    <div id="add" class="btn-icon" (click)="openCreateGroupModal()">
      <i class="bx bxs-plus-circle"></i>
    </div>
  </div>

  <!-- Filter input -->
  <ng-container *ngIf="searchOpen">
    <div class="divider"></div>
    <input
      type="text"
      class="searchPattern"
      [(ngModel)]="searchPattern"
      (ngModelChange)="filterChats()"
    />
  </ng-container>

  <div class="divider"></div>

  <div class="item" *ngFor="let x of groupChats" (click)="showChat(x)">
    <div class="content">
      <div class="photo-container">
        <div class="photo"></div>
      </div>

      <div class="name">
        <span>
          {{ x.chatName }}
        </span>
      </div>

      <div class="options" (click)="showContextMenu($event, x)">
        <div class="option-dot"></div>
        <div class="option-dot"></div>
        <div class="option-dot"></div>
      </div>
    </div>
  </div>
</div>

<!-- @@@@@@@@@@@@@@@@@@ -->
<!-- MODAL              -->
<!-- @@@@@@@@@@@@@@@@@@ -->
<ng-template #groupMembersModalTemplate>
  <p class="modal-title">Członkowie grupy</p>
  <!-- List of filtered friends with checbox -->
  <ul class="modal-list">
    <li *ngFor="let member of tempGroupMembers" class="modal-item">
      <span class="modal-item-name">
        {{ member.userName }}
        <span class="modal-item-chatrole">
          {{ member.chatRole === 1 ? "(Admin)" : "" }}
        </span>
      </span>
    </li>
  </ul>
</ng-template>

<ng-template #createGroupModalTemplate>
  <p class="modal-title">Tworzenie grupy</p>

  <!-- Group name ipnut-->
  <div class="modal-name-input">
    <input
      class="modal-input"
      placeholder="Nazwa grupy"
      [(ngModel)]="groupName"
    />
  </div>

  <!-- Filter friends input-->
  <div class="modal-search">
    <input
      class="modal-input"
      placeholder="Filtruj znajomych"
      [(ngModel)]="filterText"
      (ngModelChange)="filterFriends()"
    />
  </div>

  <!-- List of filtered friends with checbox -->
  <ul class="modal-list">
    <li *ngFor="let friend of filteredFriendList" class="modal-item">
      <span class="modal-name">{{ friend.userName }}</span>
      <input
        type="checkbox"
        class="modal-checkbox"
        [(ngModel)]="selectedFriends[friend.userGuid]"
      />
    </li>
  </ul>

  <!-- Button -->
  <button
    class="modal-button"
    (click)="createGroup()"
    [disabled]="!groupName || !Object.keys(selectedFriends).length"
  >
    Utwórz grupę
  </button>
</ng-template>
