<div class="items-container">

  <div class="community-type">
    <button id="search" class="btn-icon">
      <i class='bx bx-search'></i>
    </button>
    <span>GRUPY</span>
    <button id="add" class="btn-icon">
      <i class='bx bxs-plus-circle' ></i>
    </button>
  </div>

  <div class="item" *ngFor="let x of groupsChats">

    <div class="content">
      <div class="photo-container">
        <div class="photo"></div>
      </div>

      <div class="name">
        <span>
         {{x.chatName}}
        </span>
      </div>

      <div class="options">
        <div class="option-dot"></div>
        <div class="option-dot"></div>
        <div class="option-dot"></div>
      </div>

    </div>
  </div>
