<div class="items-container">
  <div class="community-type">ZNAJOMI</div>

  <div class="item" *ngFor="let x of friendsChats">
    <div class="content">
      <div class="photo-container">
        <div class="photo"></div>
      </div>

      <div class="name">
        <span>
          {{ x.chatName }}
        </span>
      </div>

      <div class="options">
        <div class="option-dot"></div>
        <div class="option-dot"></div>
        <div class="option-dot"></div>
      </div>
    </div>
  </div>

  <!-- <div class="item">
    <p>friends works!</p>

  </div>
  <div class="item">
    <p>friends works!</p>

  </div>
  <div class="item">
    <p>friends works!</p>

  </div>
  <div class="item">
    <p>friends works!</p>

  </div>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p>
  <p>friends works!</p> -->
</div>
