<!-- @@@@@@@@@@@@@@@@@@ -->
<!-- FRIENDS            -->
<!-- @@@@@@@@@@@@@@@@@@ -->

<div class="items-container" *ngIf="friendsStatusComp$ | async as state">
  <div class="community-type">
    <!-- Header and buttons -->
    <input
      type="checkbox"
      id="searchCheckBox"
      [(ngModel)]="searchOpen"
      (click)="toggleSearch()"
    />
    <label for="searchCheckBox">
      <div id="search" class="btn-icon">
        <i id="icon-search" class="bx bx-search"></i>
      </div>
    </label>

    <span>ZNAJOMI</span>

    <div
      id="add"
      class="btn-icon"
      (click)="openAddUserModal(addUserModalTemplate)"
    >
      <i id="icon-add" class="bx bxs-user-plus"></i>
    </div>
  </div>

  <!-- Filter input -->
  <ng-container *ngIf="searchOpen">
    <div class="divider"></div>
    <input
      type="text"
      class="searchPattern"
      [(ngModel)]="searchPattern"
      (ngModelChange)="filterChats()"
    />
  </ng-container>

  <div class="divider"></div>

  <!-- Community buttons -->
  <div class="friendship-status">
    <div
      id="ok"
      class="status-icon-container"
      [class.active]="state.ok"
      (click)="showFriends_StatusOk()"
    >
      <i class="bx bxs-message-rounded-dots"></i>
    </div>
    <div
      id="waiting"
      class="status-icon-container"
      [class.active]="state.invitations"
      (click)="showFriends_StatusInvitations()"
    >
      <i class="bx bxs-hourglass-bottom"></i>
    </div>
    <div
      id="blocked"
      class="status-icon-container"
      [class.active]="state.blocked"
      (click)="showFriends_StatusBlocked()"
    >
      <i class="bx bx-block"></i>
    </div>
  </div>

  <!-- friends ok -->
  <div id="ok-friends" *ngIf="state.ok">
    <div class="item" *ngFor="let x of friendsChats_Ok" (click)="showChat(x)">
      <div class="content">
        <div class="photo-container">
          <div class="photo">
            <img [src]="x.members[0].profilePicture" />
          </div>
        </div>

        <div class="name">
          <span>
            {{ x.chatName }}
          </span>
        </div>

        <div class="options" (click)="showContextMenu($event, x)">
          <div class="option-dot"></div>
          <div class="option-dot"></div>
          <div class="option-dot"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- awaiting friends -->
  <div id="invitation-friends" *ngIf="state.invitations">
    <div
      class="item"
      *ngFor="let x of friendsChats_Awaiting"
      (click)="showChat(x)"
    >
      <div class="content">
        <div class="photo-container">
          <div class="photo">
            <img [src]="x.members[0].profilePicture" />
          </div>
        </div>

        <div class="name">
          <span>
            {{ x.chatName }}
          </span>
        </div>

        <div class="options" (click)="showContextMenu($event, x)">
          <div class="option-dot"></div>
          <div class="option-dot"></div>
          <div class="option-dot"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- blocked friends -->
  <div id="blocked-friends" *ngIf="state.blocked">
    <div
      class="item"
      *ngFor="let x of friendsChats_Blocked"
      (click)="showChat(x)"
    >
      <div class="content">
        <div class="photo-container">
          <div class="photo">
            <img [src]="x.members[0].profilePicture" />
          </div>
        </div>

        <div class="name">
          <span>
            {{ x.chatName }}
          </span>
        </div>

        <div class="options" (click)="showContextMenu($event, x)">
          <div class="option-dot"></div>
          <div class="option-dot"></div>
          <div class="option-dot"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- @@@@@@@@@@@@@@@@@@ -->
<!-- MODAL              -->
<!-- @@@@@@@@@@@@@@@@@@ -->

<ng-template #addUserModalTemplate let-results="results">
  <p class="add-user-title">Dodawanie znajomych</p>
  <div class="add-user-search">
    <input
      class="add-user-input"
      placeholder="Nazwa użytkownika"
      [(ngModel)]="searchName"
      (keydown.enter)="searchUsers()"
    />
    <button class="add-user-search-button" (click)="searchUsers()">
      Szukaj
    </button>
  </div>
  <ul class="add-user-list">
    <li *ngFor="let user of results" class="add-user-item">
      <span class="add-user-name">{{ user.userName }}</span>
      <button class="add-user-add-btn" (click)="inviteUser(user.guid)">
        +
      </button>
    </li>
  </ul>
</ng-template>
