@import url("buttons.css");

/* GENERAL */

* {
    max-width: 100%;
    text-align: center;
}

body {
    margin: 0;
    padding:0;
}

.hidden {
    visibility: hidden;
}

/*              */
/*    THEMES    */
/*              */

.default .communicator {
    background: rgba(90, 90, 90);
    color: rgb(255, 255, 255);
}

.default .communicator {
    background: linear-gradient(to bottom, #757575 10%, #616161 20%, #515050 60%, #131313);
}

.default .options-wrapper {
    background-color: gray;
}

.default .options-wrapper .options {
    background: linear-gradient(to bottom, rgb(4, 65, 27), #0a5122 20%, #054a27 40%, #04452c 60%, #034033 80%, #023a32);
}

.default button {
    border-radius: 4px;
    background-color: #66ccff;
    border-color: #66ccff;
}

.default button:hover {
    background-color: #ffcc00;
    border-color: #ffcc00;
}

.default .delete-btn {
    border-color: crimson;
    background-color: crimson;
}

.default .delete-btn:hover {
    background-color: maroon;
    border-color: maroon;
}

.default .cancel-btn{
    border-color:black;
    color:black;
    background-color: rgba(255, 255, 255, 0.801);
}

.default .cancel-btn:hover{
    border-color:black;
    color:black;
    background-color: rgba(221, 221, 221, 0.801);
}

.default .blockname {
    font-weight: bold;
    background-color: rgb(60, 60, 60);
    color: white;
}

.default .divider {
    height: 1px;
    background-color: gray;
}

.default .messages {
    color: white;
}

.default .messages-start-screen .start-chat {
    background: linear-gradient(to bottom, #87def9, #7a9dd3 40%, #596a85);
    background: radial-gradient(circle, rgb(172, 223, 238), #76c7ea 40%, #596a85);
    background-color: #00ccff;
    color: white;
}

.default .messages-start-screen .start-chat:hover {
    background: linear-gradient(to top, #efda87, #c59d00 20%, #ffcc00);
}

.default .messages p.left {
    color: white;
    background: linear-gradient(to top, rgb(40, 40, 40), rgb(60, 60, 60) 80%, rgb(114, 114, 114));
}

.default .messages p.right {
    color: white;
    background: linear-gradient(to top, #204c30, #00ae83 20%, #00cc99);
}

.default .writearea input {
    background-color: rgb(164, 254, 172);
    background: linear-gradient(to top, #204c30, #2e6b44 30%, #32a076);
    color: white;
    border-color: #00cc99;
}

.default .writearea input:focus {
    border-color: #95e6d1;
    background: linear-gradient(to top, #2e6b44, rgb(3, 161, 135) 20%, #45c996);
    background: radial-gradient(circle, #32a076, #2e6b44);
}

.default .writearea button:hover {
    background: linear-gradient(to top, #efda87, #c59d00 20%, #ffcc00);
}

.default .writearea button {
    background: linear-gradient(to top, #505e64, #4bbdf7 20%, #66ccff);
}

.default .groupchats-content {
    color: black;
    background-color: white;
}
.default .groupchats .groupchat {
    background-color: white;
}
.default .groupchats .groupchat:hover {
    background-color: rgb(255, 235, 209);
}

.default .groupcreator-content {
    color: black;
    background-color: white;
}

.default .groupcreator-content .friend-member {
    background-color: white;
}

.default .friend-member:hover {
    background-color: rgb(255, 235, 209);
}


.default .groupoptions-content {
    color: black;
    background-color: white;
}

.default .members .blockname {
    background-color: #005842;
    background: linear-gradient(to bottom, #1a1a1a, #0a5122 20%, #054a27 40%, #04452c 60%, #034035 80%, #02383a);
    color: white;
}

.default .members .member:hover {
    background-color: antiquewhite;
}

.default .member .role {
    color: gray;
}

.default .friends-content {
    color: black;
    background-color: white;
}

.default .friend {
    background-color: white;
}

.default .friend:hover {
    background-color: rgb(255, 235, 209);
}

.default .friends-content .label {
    background-color: #00cc99;
}

.default .new-friends .label {
    background-color: khaki;
}

.default .blocked-friends .label {
    background-color: indianred;
}

.default .searchfriends-content {
    color: black;
    background-color: white;
}
.default .searchfriends-nullcontent {
    color: white;
    background-color: gray;
}
.default .user {
    background-color: white;
}
.default .user:hover {
    background-color: burlywood;
}

/* Modal windows */

.default .my-modal-background {
    background-color: #66666671;
}

.default .my-modal {
    background-color: rgb(255, 255, 255);
}

.default .my-modal .item {
    color: black;
}

.default .my-modal .item:hover {
    background-color: antiquewhite;
}

/*              */
/* END - THEMES */
/*              */

.communicator {
    display: inline-block;
    padding: 1%;
    max-width: 100%;
    min-width: 100%;
    max-height: fit-content;
    perspective: 1000;
    text-align: left;
    transition: all 0.3s 0s ease-in;
    z-index: 1;
}

/* CONTENT */

.chat {
    position: relative;
    display: block;
    float: left;
    /* background-color: white; */
    max-width: 50%;
    min-width: 50%;
    height: 56vh;
    padding: 0 0 0;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.chat .blockname {
    display: block;
    height: 6%;
    min-height: 30px;
    padding: 0;
    margin: 0;
    padding-top: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.messages {
    width: 100%;
    height: 82%;
    padding-top: 1%;
    overflow-y: auto;
    overflow-x: hidden;
}

.messages .time {
    font-size: 10px;
}

.messages .date {
    min-width: 100%;
    width: 100%;
    height: 20px;
    display: flex;
    text-align: center;
}

.messages .date .date-line-left {
    flex: 1;
    display: block;
    width: 40%;
    height: 2px;
    background: transparent;
    border-top: 2px dashed white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.messages .date .date-output {
    flex: 1;
    display: block;
    width: 30%;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    background: transparent;
    border-radius: 15px;
    border: 1px solid gray;
}

.messages .date .date-line-right {
    flex: 1;
    display: block;
    width: 40%;
    height: 1px;
    background: transparent;
    border-top: 2px dashed white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.messages-start-screen {
    width: 100%;
    height: 84%;
    padding-top: 1%;
    overflow-y: auto;
    overflow-x: hidden;
    /* background: linear-gradient(to bottom, #575656, #202020); */
}

.messages-start-screen .start-chat {
    position: absolute;
    border-radius: 50%;
    font-size: 30px;
    width: 200px;
    min-width: 200px;
    height: 200px;
    min-height: 200px;
    text-align: center;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

.messages-start-screen .start-chat b {
  position: relative;
  display: block;
  padding-top:40%;
}

.messages div {
    width: max-content;
    max-width: 70%;
    height: max-content;
}

.messages div.left {
    float: left;
}

.messages div.right {
    float: right;
}

.messages .next {
    clear: both;
}

.messages p {
    display: block;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    width: fit-content;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
}

.writearea {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 30px;
    max-height: 35px;
    padding-top: 2px;
    margin-bottom: 0 0 2px 0;
}

.writearea input {
    margin: 0% 1%;
    min-width: 84%;
    min-height: fit-content;
    text-align: left;
    padding: 3px 4px 5px 4px;
    font-weight: bolder;
}

.writearea input:focus {
    outline: none;
    border-width: 2px;
}

.writearea button {
    margin: 0 1% 0 0;
    padding: 1px 0 5px 0;
    min-width: 12%;
    min-height: fit-content;
    font-size: 17px;
    font-weight: bold;
    width: fit-content;
}

/* ### Group Chats Area --------------------------*/
.groupchats {
    position: relative;
    border-radius: solid 1px black;
    display: block;
    float: left;
    height: 56vh;
    max-height: 56vh;
    min-height: 56vh;
    width: 25%;
    min-width: 25%;
    padding-right: 1%;
}

.groupchats .blockname {
    font-weight: bold;
    display: block;
    height: fit-content;
    min-height: 30px;
    padding: 0%;
    margin: 0%;
    padding-top: 1%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.groupchats-content {
    display: block;
    width: 100%;
    height: fit-content;
    max-height: 88%;
    overflow-y: auto;
}

.groupchats .groupchat {
    height: 8%;
    min-height: 35px;
}

.groupchats .groupchat .groupname {
    height: fit-content;
    padding-top: 5px;
    padding-left: 15px;
    text-align: left;
}

.groupchats .wide-btn {
    position: absolute;
    bottom: 0;
    right: 3%;
    width: 97%;
    height: 6%;
    min-height: 35px;
    font-weight: bold;
}

.groupcreator-content {
    display: block;
    width: 100%;
    height: fit-content;
    max-height: 82%;
    max-width: 100%;
    overflow-y: auto;
}

.groupcreator-content .groupname-input {
    margin-bottom: 2%;
}

.groupcreator-content .friend-member {
    height: 4%;
    min-height: 25px;
    display: flex;
    align-items: center;
}

.groupcreator-content .friend-checkbox {
    margin-right: 10px;
    margin-left: 10px;
}

.groupchats .groupcreator-btn {
    position: absolute;
    bottom: 0;
    width: 47%;
    height: 6%;
    min-height: 35px;
    font-weight: bold;
}

.groupchats .cancel {
    left: 0%;
}

.groupchats .confirm {
    right: 3%;
}

.groupoptions-content {
    align-items: center;
    display: block;
    width: 100%;
    height: fit-content;
    max-height: 82%;
    max-width: 100%;
    overflow-y: auto;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.members {
    display: block;
    height: fit-content;
}

.members .blockname {
    margin-left: 50%;
    margin-bottom: 5px;
    transform: translate(-50%, 0);
    border-radius: 0 0 25px 25px;
    padding: 5px 2px;
    font-size: 13px;
    width: 100%;
}

.members .member {
    display: block;
    float: left;
    min-width: 100%;
    padding-left: 15px;
    height: 35px;
    text-align: left;
    border-bottom: black 1px dashed;
}

.member .role {
    float: right;
    text-align: right;
    padding-right: 5px;
    font-size: 10px;
}

.member .options-btn {
    float: right;
    margin-top: 5px;
}

.members .options-wrapper {
    display: block;
    float: left;
    min-height: 100%;
    min-width: 100%;
    padding-top: -5px;
}

.members .options {
    display: block;
    float: left;
    padding-top: 5px;
    width: 100%;
    min-width: 100%;
    height: fit-content;
    min-height: fit-content;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 40px;
    text-align: left;
}

.members .options button {
    margin: 0 0 5px 15px;
    max-width: 80%;
    text-align: left;
}

.groupoptions-content .invitetogroup-btn {
    display: block;
    float: left;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 5px;
    margin-bottom: 5px;
}

.groupoptions-content .leavegroup-btn {
    display: block;
    clear: both;
    margin-left: 50%;
    transform: translate(-50%, 0);
    margin-top: 5px;
    margin-bottom: 5px;
}

/* ### Friends Area --------------------------*/

.friends {
    position: relative;
    border-radius: solid 1px black;
    display: block;
    float: left;
    height: 56vh;
    max-height: 56vh;
    min-height: 56vh;
    width: 25%;
    min-width: 25%;
    padding-left: 1%;
}

.friends .blockname {
    display: block;
    height: 6%;
    min-height: 30px;
    padding: 0%;
    margin: 0%;
    padding-top: 1%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.friends-content {
    display: block;
    width: 100%;
    height: fit-content;
    max-height: 82%;
    overflow-y: auto;
}

.friend {
    height: 8%;
    min-height: 35px;
}

.friends-content .friendname {
    height: fit-content;
    padding-top: 5px;
    padding-left: 15px;
    text-align: left;
}

.friend .options-wrapper {
    display: block;
    float: left;
    min-height: 100%;
    min-width: 100%;
    padding-top: -5px;
}

.friend .options {
    display: block;
    float: left;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.friend .delete-friend {
    margin-right: 5px;
}

.friend .block-friend {
    margin-left: 5px;
}

.options-btn {
    float: right;
    margin-right: 15px;
}

.friend .awaiting-message {
    float: right;
    font-size: 10px;
    margin-right: 15px;
}

.friend .acceptFriend {
    float: right;
}

.friend .rejectFriend {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
}

.friend .unlockFriend {
    float: right;
    margin-right: 15px;
}

/* ### Search Friends Area --------------------------*/

.searchfriends {
    position: relative;
    border-radius: solid 1px black;
    display: block;
    float: left;
    height: 56vh;
    max-height: 56vh;
    min-height: 56vh;
    width: 25%;
    min-width: 25%;
    padding-left: 1%;
}

.searchfriends-content {
    display: block;
    width: 100%;
    height: 88%;
    max-height: 94%;
    overflow-y: auto;
}

.searchfriends .blockname {
    display: block;
    height: 6%;
    min-height: 30px;
    padding: 0%;
    margin: 0%;
    padding-top: 1%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.searchfriends-nullcontent {
    height: 35px;
    padding-top: 5px;
}

.user {
    display: block;
    height: 8%;
    min-height: 35px;
}

.searchfriends .username {
    height: fit-content;
    padding-top: 5px;
}

.addfriend-btn {
    margin-right: 15px;
    font-weight: bold;
    width: auto;
    float: right;
}

.searchfriend-btn {
    position: absolute;
    bottom: 0;
    left: 3%;
    width: 97%;
    height: 6%;
    min-height: 35px;
    font-weight: bold;
}

/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

@media screen and (max-width: 600px) {

    /* TODO mobile-first design */
    .card {
        width: 90%;
    }
}

/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Hello screen */
.default .hello-container {
    background-color: #333;
}

.default .hello {
    color: #fff;
}

.default .hello .say {
    background-color: #ffcc00;
}

.default .hello .yo {
    background-color: #00ccff;
}

/* Hello screen */
.hello-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 94%;
}

.hello {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.hello .say {
    padding: 5px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    animation: bounce 2s infinite alternate ease-in-out;
}

.hello .yo {
    padding: 5px 20px;
    border-radius: 10px;
    animation: bounce 2s infinite alternate ease-in-out;
}

.author {
    position: absolute;
    display: block;
    bottom: 0;
    color: #757575;
    font-weight: bold;
    font-size: 10px;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }

}

/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Modal windows */

.my-modal-background {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

.my-modal {
    position:fixed;
    border-radius: 15px;
    left: 50%;
    top: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
}

.my-modal .blockname {
    padding: 5px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.my-modal .content {
    display: block;
    max-height: 80%;
    overflow-y: auto;
}

.my-modal .item {
    padding: 5px 0 5px 20%;
    min-height: 20px;
    text-align: left;
    font-size: 15px;
    width: 100%;
}

.my-modal .item label {
    margin-left: 8px;
}

.my-modal .confirm {
    position: absolute;
    width: 40%;
    bottom: 5px;
    right: 13%;
    margin-left: 2%;
}

.my-modal .cancel {
    position: absolute;
    width: 30%;
    bottom: 5px;
    left: 13%;
    margin-right: 2%;
}

/* End - modal windows */

/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

/* Logo */
/* There is no theme because logo hsould be uniformed */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 94%;
}

.logo-container .logo {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}

.logo .say {
    background-color: #ffcc00;
    padding: 5px 20px;
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.logo .yo {
    background-color: #66ccff;
    padding: 5px 20px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.logo:hover .say {
    background-color: #ff6666;
    transform: translateX(-5px);
}

.logo:hover .yo {
    background-color: #00cc99;
    transform: translateX(5px);
}
