/* Aditionaly styles are taken from: */
/* @import url("../../account/buttons-account.css"); */
button {
    color:white;
    background-color: #66ccff;
    border-color: #66ccff;
    /* background: linear-gradient(to bottom, #60d0f1, #3e76c9);  */
}

button:hover {
    background-color: #ffcc00;
    border-color: #ffcc00;
    /* background: linear-gradient(to bottom, #60d0f1, #60d0f1 ,#3e76c9); */
}

button:focus {
    background-color: #ffcc00;
    border-color: #ffcc00;
}
