/*

.login-window{
  margin: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.background {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

/* --------------------------- */
/*           THEMES            */
/* --------------------------- */

/* .login-window_default-theme{
  background: linear-gradient(
    to top,
    #000000,
    #414141
  );
}  */
